/* HEADER */
.basket__header-nav {
    width: auto;
}

/* BASKET */
.basket {
    margin-bottom: 40px;
    min-height: 300px;
}

.basket__title {
    margin-bottom: 32px;
}

.basket__null a {
    color: var(--color-detailed);
    font-weight: 700;
}

.basket__table {
    margin-bottom: 20px;
    width: 100%;    
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
}

.basket__table tr {
    border: 1px solid #ccc;
}

.basket__table th {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.basket__table td {
    padding: 15px;
    border-right: 1px solid #ccc;
}

.basket__tbody-name {
    display:flex;
    align-items: center;
}

.basket__tbody-name__img {
    margin-right: 15px;
    display: inline-block;
    width: 80px;
    height: 100%;
    vertical-align: middle;
}

.basket__tbody-name span {
    text-align: start;
}

.basket__tbody-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basket__tbody-count__wrap {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket__tbody-count__minus {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.basket__tbody-count__minus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 1px;
    background-color: #ccc;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.basket__tbody-count__minus:hover {
    border-color: #6b9b2e;
}

.basket__tbody-count__minus:hover::before,
.basket__tbody-count__minus:hover::after {
    background-color: #6b9b2e;
}

.basket__tbody-count__minus:disabled {
    border: 1px solid #ccc;
    cursor: auto;
}

.basket__tbody-count__minus:disabled:before {
    background-color: #ccc;
}

.basket__tbody-count__value {
    border: none;
    padding: 0;
    width: 40px;
    text-align: center;
    pointer-events: none;
}

.basket__tbody-count__value::-webkit-outer-spin-button,
.basket__tbody-count__value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.basket__tbody-count__plus {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.basket__tbody-count__plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 1px;
    background-color: #ccc;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.basket__tbody-count__plus:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 15px;
    background-color: #ccc;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.basket__tbody-count__plus:hover {
    border-color: #6b9b2e;
}

.basket__tbody-count__plus:hover::before,
.basket__tbody-count__plus:hover::after {
    background-color: #6b9b2e;
}

.basket__tbody-count__plus:disabled {
    border: 1px solid #ccc;
    cursor: auto;
}

.basket__tbody-count__plus:disabled:before,
.basket__tbody-count__plus:disabled:after {
    background-color: #ccc;
}

.basket__tbody-btn--remove {
    border: none;
    color: #ccc;
    background-color: transparent;
    cursor: pointer;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.basket__tbody-btn--remove:focus-visible {
    outline: none;
    color: #333;
}

.basket__tbody-btn--remove:hover:not(:focus-visible) {
    color: #333;
}

.basket__tbody-btn--remove:active:not(:focus-visible) {
    color: #333;
}

.basket__table tfoot {
    font-weight: 700;
}

.basket__tfoot-total {
    padding-right: 20px;
    text-align: end;
    text-transform: uppercase;
}

/* text */
.basket__descr {
    margin-bottom: 40px;
    font-size: var(--font-secondary);
    font-style: italic;
}

/* FORM */
.basket__form {    
    max-width: 400px;
}

.basket__form-title {
    margin-bottom: 16px;
}

.basket__form-descr {
    margin-bottom: 16px;
    display: block;
    font-size: var(--font-secondary);
}

.basket__form-input {
    border-radius: 0;
}

.basket__form-btn {
    margin: 0 auto;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    font-size: var(--font-descr);
    font-weight: 400;
    background-color: #88c639;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.basket__form-btn:focus-visible {
    outline: none;
    border: 2px solid #6b9b2e;
}

.basket__form-btn:hover:not(:focus-visible) {
    background-color: #7cb137;
}

.basket__form-btn:active:not(:focus-visible) {
    background-color: #88c639;
}

.form-control:focus {
    border-color: #88c639;
    box-shadow: 0 0 0 0.25rem rgb(63 173 17 / 25%);
}

/* FOOTER */
.footer {
    color: var(--color-secondary);
    background-color: var(--color-darken);
}
  
.footer__container {
    padding-top: 144px;
    padding-bottom: 78px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-requisites {
    margin-bottom: 80px;
    margin-right: 40px;
    list-style: none;
}
  
.footer-requisites__item {
    font-size: var(--font-descr);
    font-weight: 400;
}

.footer-requisites__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__documents {
    margin-bottom: 80px;
    margin-right: 40px;
}

.footer__documents-item {
    margin-bottom: 15px;
    display: block;
    font-size: var(--font-descr);
    color: var(--color-secondary);
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.footer__documents-item:focus-visible {
    outline: none;
    color: var(--color-detailed);
}

.footer__documents-item:hover:not(:focus-visible) {
    color: var(--color-detailed);
}

.footer__documents-item:active:not(:focus-visible) {
    color: var(--color-active);
}

.footer__contacts {
    margin-bottom: 80px;
}
  
.footer__contacts-item {
    margin-bottom: 15px;
    display: block;
    font-size: var(--font-descr);
    color: var(--color-secondary);
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.footer__contacts-item:focus-visible {
    outline: none;
    color: var(--color-detailed);
}

.footer__contacts-item:hover:not(:focus-visible) {
    color: var(--color-detailed);
}

.footer__contacts-item:active:not(:focus-visible) {
    color: var(--color-active);
}
    
.footer__copyright {    
    font-size: var(--font-descr);
}

/* UP */
.up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 50;
    display: none;
    height: 60px;
    border-radius: 100px;
    background-color: #fff;
}

.btn-up {
    position: fixed;
    background-color: #88c639;
    opacity: .7;
    right: 20px;
    bottom: 0;
    z-index: 50;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
}
  
.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

.btn-up:hover {
    opacity: 1;
}

@media (max-width: 1560px) {
    :root {
      --font-main: 20px;
      --font-secondary: 16px;
      --font-title-section: 32px;
      --font-number: 78px;
    }
}

@media (max-width: 992px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    /* HEADER */
    .header {
        margin-bottom: 40px;
    }

    /* BASKET */
    .basket__table {
        font-size: 12px;
    }
}


@media (max-width: 600px) {    
    /* HEADER */
    .header__img {
        display: none;
    }
    
    .header__img--mini {
        display: block;
        height: 50px;
    }

    /* BASKET */
    .basket__table {
        border: 0;
    }

    .basket__table thead {
        display: none;
    }

    .basket__table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 1px solid #ccc;
    }

    .basket__table td:not(.basket__tfoot-total) {
        display: block;
        text-align: right;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid transparent;
    }

    .basket__tfoot-total {
        display: none;
    }

    .basket__table td:last-child {
        border-bottom: 0;
    }

    .basket__table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .basket__tbody-count {
        align-items: flex-end;
    }

    
}

@media (max-width: 490px) {
    .basket__tbody-name__img {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }

}