/* HEADER */
.basket__header-nav {
    width: auto;
}

/* BASKET */
.basket {
    margin-bottom: 40px;
    min-height: 300px;
}

.basket__title {
    margin-bottom: 32px;
}

.basket__null a {
    color: var(--color-detailed);
    font-weight: 700;
}

.basket__table {
    width: 100%;    
    border-collapse: collapse;
    text-align: center;
}

.basket__table thead {
    font-weight: 700;
}

.basket__table td {
    padding: 15px;
    border: 1px solid #333;
}

.basket__tbody-name {
    display:flex;
    align-items: center;
}

.basket__tbody-name__img {
    margin-right: 15px;
    width: 60px;
    height: 100%;
    vertical-align: middle;
}

.basket__table tfoot {
    font-weight: 700;
}

.basket__tfoot-total {
    padding-right: 20px;
    text-align: end;
    text-transform: uppercase;
}

/* FOOTER */
.footer {
    color: var(--color-secondary);
    background-color: var(--color-darken);
}
  
.footer__container {
    padding-top: 144px;
    padding-bottom: 78px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-requisites {
    margin-bottom: 80px;
    margin-right: 40px;
    list-style: none;
}
  
.footer-requisites__item {
    font-size: var(--font-descr);
    font-weight: 400;
}

.footer-requisites__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__documents {
    margin-bottom: 80px;
    margin-right: 40px;
}

.footer__documents-item {
    margin-bottom: 15px;
    display: block;
    font-size: var(--font-descr);
    color: var(--color-secondary);
}

.footer__contacts {
    margin-bottom: 80px;
}
  
.footer__contacts-item {
    margin-bottom: 15px;
    display: block;
    font-size: var(--font-descr);
    color: var(--color-secondary);
}
    
.footer__copyright {    
    font-size: var(--font-descr);
}